# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.env
.env
.env.*
!*.env.example
!*/.env.example
.venv/

# Node
node_modules/
dist/
*.log

# Alembic
makerworks/backend/alembic/versions/*.pyc
makerworks/backend/test.db

# VSCode
.vscode/

# Misc
.DS_Store

MakerWorks-Android/
